<form class="w-50 m-auto my-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nickname</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInp  utPassword1" class="form-label">Apellido y Nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInp  utPassword1" class="form-label">Direccion</label>
    <input type="number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInp  utPassword1" class="form-label">Email</label>
    <input type="number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInp  utPassword1" class="form-label">Fecha de Nacimiento</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInp  utPassword1" class="form-label">Date</label>
    <input type="date" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>